<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851549237006-8nv4tf5jm0rh1pm32ien97degsjv5opf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851549237006-8nv4tf5jm0rh1pm32ien97degsjv5opf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>851549237006-jmgnsiv3dpe1s6lcsdujuun3fkommg4b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ9AaHJylagFmmYEA5DKNXfzYZfBxphfc</string>
	<key>GCM_SENDER_ID</key>
	<string>851549237006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktokclone-1fc21</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokclone-1fc21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851549237006:ios:5ceb661fa6ba2e0530715f</string>
</dict>
</plist>